@import '../../General\ Styling/Styling.scss';

.blogSlug {
	background: $dark;
	display: flex;
	@media screen and (max-width: 1000px) {
		flex-direction: column;
	}
	padding: 10px;
	justify-content: space-between;
	align-items: center;
	margin: 0px 1rem 1rem 1rem;
	color: white;
}

.blogSlug:hover {
	background: $highlight;
}

.titleCaptionContainer {
	@media screen and (max-width: 1000px) {
		text-align: center;
	}
	text-align: left;
}
