@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.hbdTosh {
	* {
		font-family: 'Open Sans';
		text-align: center;
	}
	background-color: hotpink;
	color: white;
	position: absolute;
	border-radius: 0;
	top: 0;
	left: 0;
	p,
	h1,
	h2,
	h3,
	h4 {
		margin: 1rem;
	}

	img {
		max-width: 400px;
		width: 100%;
	}
}
