@import 'styling.scss';

.bubble {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: $mainFont;
  max-width: 70vw;
  padding: 10px;
  background: $background;
  box-shadow: $boxShadow;
  margin-bottom: 10px;
}
