@import 'styling.scss';
@import 'introSubble.scss';

.bubble {
  display: flex;
  flex-direction: column;
  font-family: $mainFont;
  min-width: fit-content;
  font-size: 30px;
  padding: 10px;
  background: $light;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}
