@import "styling.scss";

.blurb {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  img{
    flex-basis: 20%;
    max-height: 250px;
    max-width: 250px;
  }

  .blurbText{
    flex-basis: 75%;
    margin: 15px;
    font-size: $subHeadingFontSize;
    .disclaimerText{
      font-size: 10px;
    }
  }


}

.introHeading{
  align-items: center;
  h1{
    color: white;
  }
}