@import 'fonts.css';

$mainFont: 'Open Sans';
$backgroundColour: white;
$headerColour: #00a7e1;
$textColour: #00171f;
$textShadow: #00233d;
$complimentColour: #63adf2;

$navBarColour: #0077e0;
$navBarItemColour: #63adf2;
$barItemHoverColour: #5db7de;

$background: #bbbbbf;
$subbleOne: #ededed;
$subbleTwo: #d1d1d1;
$subbleThree: #b7b7b7;
$subbleFour: #96a0aa;

$websiteBlogPostSpacing: 5px;
$mobileBlogPostSpacing: 3px;

$baseFontSize: 14px;
$headingFontSize: 20px;
$subHeadingFontSize: 18px;
$smallSubHeadingFontSize: 15px;

$boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

footer {
	display: flex;
	justify-content: flex-end;
	font-size: 10px;
}

body {
	background: $backgroundColour;
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 1px;
}

img {
	width: 10%;
	height: 10%;
	border-radius: 8px;
	min-width: 90px;
	min-height: 90px;
}

a {
	text-decoration: none;
	color: $complimentColour;
}

a:hover {
	color: white;
}

* {
	// margin: 0;
	// padding: 0;
	border-radius: 7px;
}
