@import "styling.scss";

.subble {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: $baseFontSize;
}

.One {
  background: $subbleOne;
}

.Two {
  background: $subbleTwo;
}

.Three {
  background: $subbleThree;
}

.Four {
  background: $subbleFour;
}

.navBar {
  background: $navBarColour;
}

.shadow {
  box-shadow: $boxShadow;
}

.spacedEvenly {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.spaceAround {
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.inlineImages {
  margin: 15px;
  box-shadow: $boxShadow;
  flex-grow: 1;
  min-width: 40vmin;
}

.tallyTabFlex{
  display: flex;
  flex-direction: column;
  img{
    flex-basis: 40%;
  }

  .blurbText{
    text-align: center;
  }

  p{
    font-size: $subHeadingFontSize;
  }

  li {
    font-size: $smallSubHeadingFontSize;
    width: 100%;
  }
}

.inlineRow {
  display: flex;
  flex-direction: row;
}

.inlineColumn {
  display: flex;
  flex-direction: column;
}

.fitContent {
  width: fit-content;
}

.reactIcons {
  margin: 10px;
}

.contactItem {
  width: 25vh;
  display: flex;
  align-items: center;
  font-size: 1vh;
  background: $navBarItemColour;
}

.contactItem:hover{
  background: $barItemHoverColour;
}

.contactBarFlex {
  a {
    color: white;
  }
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.blogHeaderFlex {
  justify-content: space-between;
  align-items: baseline;
}

.navBarFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  a {
    color: white;
  }
}

.navBarItem {
  background: $navBarItemColour;
  font-size: $subHeadingFontSize;
}

.navBarItem:hover{
  background: $barItemHoverColour;
}

.navBarItemFlex {
  width: 25vh;
  flex-wrap: wrap-reverse;
  align-items: center;
}

.blogPostBody {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-flow: column wrap;
  font-size: $baseFontSize;

  p, li{
    font-size: 100%;
    padding: $blogPostSpacing;
  }

  h1, h2, h3, h4, h5, h6{
    padding: $blogPostSpacing;
  }

  // p{
  //   margin-bottom: $blogPostSpacing;
  // }

  // p:first-of-type{
  //   margin-top: 0;
  //   margin-bottom: $blogPostSpacing;
  // }

  // p:last-of-type{
  //   margin-bottom: 0px;
  // }

  img {
    width: 100%;
    // max-width: 100%;
     
  }
}

.download {
  background: $navBarColour;
  color: $textColour;
  text-align: center;
}

.download:hover {
  color: white;
}

.projectFlex {
  display: flex;
  justify-content: center;
}

.projectOverlay {
  position: relative;
  .projectImage {
    height: auto;
    max-width: 100%;
    width: auto;
  }
  .text {
    font-size: 3vw;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: 0;
  }
}

.projectOverlay:hover {
  img {
    filter: blur(10px) brightness(50%);
  }
  .text {
    opacity: 1;
  }
}

.aboutHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .text {
    padding-left: 15px;
  }
}

.aboutBody {
  min-height: fit-content;

  ul > ul {
    margin-left: 10px;
  }
}

.wrap {
  flex-wrap: wrap;
}

.blogPostSubble{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  h1, h2, h3, h4, h5, h6{
    font-size: $headingFontSize;
  }
  p{
    font-size: $baseFontSize;
  }

}

.bioSubbleHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
