@import '../General\ Styling/Styling';

.aboutCardGrid {
	.alignLeft {
		text-align: left;
	}
	.arrows {
		.arrow {
			font-size: 2rem;
		}
		color: $dark;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.arrow:hover {
			color: $highlight;
		}
	}
}
